@import "style-zero.css";

html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1B1D1F;
    font-size:16px;
    line-height: 24px;
}
body{
    width: 1360px;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
   
}
header{
    
    margin-left: 95px;
    margin-top: 32px;
    width: 241px;
    height: 120px;
    
  
}

#logo-text{
    display: inline-block;
    font-weight: 500;
    margin-left: 16px;
    line-height: 15px;
    font-size: 12px;
    vertical-align:top;
    color: #010101;
}
.section-hero{
    height: 720px;
    background: linear-gradient(90deg,#FCFEFF, #A5DEFF);
    padding: 120px 0 80px 95px;
   
    
}
.hero-text-wrapper{
    width: 573px;
    height: 520px;
    background-color: #ffffff;
    padding: 60px 0 60px 56px;
    display: inline-block;
    
}
.subheader{
    font-weight: 600;
    
}
.text-orange{
    font-size: 24px;
    color: #FF6B0A;
    font-weight: 600;
    margin-top: 16px;
}
.headline{
    font-size: 64px;
    line-height: 72px;
    font-weight: 600;
    margin-top: 48px;
}
.desk{
    margin-right: 77px;
    margin-top: 24px;
}
.button{
    display: inline-block;
    background-color: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    margin-top:48px;
    color: #ffffff;
    text-decoration: none;
}
.main-gus{
  
}