@import "style-zero.css";

html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
body{
    width: 1360px;
    margin: 0 auto;
    font-size: 16px;
}
header{
    
    margin-left: 95px;
    margin-top: 32px;
    width: 241px;
    height: 120px;
    position: relative;

    
}
.logo-block{
    position: absolute;
}
#logo-text{
    display: inline-block;
    font-weight: 500;
    margin-left: 16px;
    line-height: 15px;
    font-size: 12px;
    vertical-align:top;
}
.section-hero{
    height: 720px;
    background: linear-gradient(90deg,#FCFEFF, #A5DEFF);
}