@import "style-zero.css";

html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1B1D1F;
    font-size:16px;
    line-height: 24px;
}
body{
    width: 1360px;
    margin: 0 auto;
    font-size: 16px;
    
    padding-bottom: 72px;
}
/* Section 1 */

#logo-text{
    display: inline-block;
    font-weight: 500;
    margin-left: 16px;
    line-height: 15px;
    font-size: 12px;
    vertical-align:top;
    color: #010101;
    width: 125px;
}
.section-hero{
    height: 720px;
    background: linear-gradient(90deg,#FCFEFF, #A5DEFF);
    padding-left: 95px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    flex-wrap: wrap;
    
}
header{
    width: 245px;    
    padding-bottom: 57px;
    padding-top: 32px;
   
}



.hero-text-wrapper{
    width: 573px;
    height: 520px;
    background-color: #ffffff;
    padding: 60px 0 60px 56px;
    
    
}
.subheader{
    font-weight: 600;
    
}
.text-orange{
    font-size: 24px;
    color: #FF6B0A;
    font-weight: 600;
    margin-top: 16px;
}
.headline{
    font-size: 64px;
    line-height: 72px;
    font-weight: 600;
    margin-top: 48px;
}
.desk{
    margin-right: 77px;
    margin-top: 24px;
}
.button{
    display: inline-block;
    background-color: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    margin-top:48px;
    color: #ffffff;
    text-decoration: none;
}
.main-gus{
    
    align-self:flex-end;
}
/* Section 2 */
.section{
    text-align: center;
    height: 942px;
    padding: 52px 104px 72px 95px;

}
.cards{
    display: flex;
}
.cards li{
    
    width: 374px;
    height: 538px;
    margin-right: 10px;
    
}
.card-text{
    padding-right: 47px;
    padding-left: 47px;
    text-align: left;
}
h3{
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    margin-left: 47px;
    margin-bottom: 32px;
}
h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    margin: 16px 0;
}
.text-desk{
    width: 875px;
    margin: 0 auto;
}
.win{
    width:1170px;
    height: 376px;
    background:linear-gradient(90deg,#FFFFFF,#C1E8FF);
    margin: 0 auto;
}