@import "style-zero.css";
body{
    background-color: #1B1D1F;
    width: 1360px;  
    height: 768px;
    color: black;
    margin:0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-family: font-family: 'Montserrat', sans-serif;
    
}
form{
 width: 573px;
 
 background-color:#ffffff;
 margin:122px auto;
 
}
h2{
   font-size: 24px;
}
img{
    margin:32px;
}
.text-desk{
    margin-bottom: 24px;
    margin-top: 12px;
}
input[type = "text"]{
    display:block;
    width: 372px;
    height: 46px;
    margin-left: 99px;
    border-radius: 8px;
    border: 1px solid #005BBB;
}
label{
    display: block;
    margin-left: 99px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 8px;
}
.button{
    background-color: #FF6B0A;
    padding: 12px 24px;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
}